<div>
	<h3>Technologies</h3>
	<ul>
		<li>HTML5 |</li>
		<li>CSS3 |</li>
		<li>JQuery |</li>
		<li>Javascript |</li>
		<li>AngularJs |</li>
		<li>Ruby on Rails |</li>
		<li>Python |</li>
		<li>Django |</li>
		<li>MongoDB |</li>
		<li>ExpressJs |</li>
		<li>NodeJs</li>
	</ul>
	<h3>Previous Positions</h3>
	<ul>
		<li>Software Developer in Residence - Coding Dojo Chicago</li>
		<li>Event Operations Cordinator - TGI Systems</li>
		<li>Beach Operations Manager - Chicago Sport and Social Club</li>
	</ul>
	<h3>Education</h3>
	<ul>
		<li>Bachelors of Fine Arts of Interdisciplanry Studies - Governors State University</li>
		<li>Associates of Science - Moraine Valley Community College</li>
	</ul>
</div>