<div>
	<h1>Welcome</h1>
	<p>The author of this site is Tom Pruim, a Full Stack developer from Chicago, Illinois, seeking further opportunities. Feel Free to explore the site, and contact me directly.</p>
</div>